# Ignore compiled files
*.key

# Ignore the environment file
.env
.env.backup
.env.production

# Ignore the vendor directory
/vendor/

# Ignore node_modules
/node_modules/

# Ignore composer lock file
composer.lock

# Ignore Laravel specific files/directories
/public/storage
/public/hot
/storage/*.key
/bootstrap/compiled.php
/app/storage/
/.fleet
auth.json

# Ignore PHPUnit specific files
/.phpunit.cache
.phpunit.result.cache

# Ignore Homestead files
Homestead.yaml
Homestead.json

# Ignore Laravel Mix build directory
/public/build

# Ignore PhpStorm files
/.idea/

# Ignore Visual Studio Code files
/.vscode/

# Ignore NPM/Yarn log files
npm-debug.log
yarn-error.log

# Ignore Laravel Mix
.mix/

# Ignore Laravel Horizon
/horizon/

# Ignore Laravel Dusk
/storage/dusk-*.jpg
/storage/dusk-*.png
/storage/app/dusk-tmp

# Ignore Laravel Telescope
/storage/app/telescope/*.json
/storage/app/telescope/*.log
/storage/app/telescope/*.sql

# Ignore Laravel Debugbar
/storage/debugbar

# Ignore Vagrant files
/.vagrant/
